a:visited {
    color: blue;
}
#lagom-mousepointer {
    display: none;
}
body[data-lagom-is-presentation-window=true] aside#lagom_comments {
    font-size: 1.7rem;
    color: white;
    background: black;
    max-width: 100%;
}
li h2 {
    text-align: left;
}
li h3 {
    text-align: left;
}
img, small>img {
    min-height: 100px;
}

.negative {
    color: #c82829
}

header {
    color: #8e908c;
    font-size: 70%;
}